Adobe Animate/basic walk cycle/RECOVER_basic walk cycle.fla

Adobe Animate/basic walk cycle/RECOVER_basic walk cycle 2.fla

Blender/Run Cycle Attempt/Renders/run cycle attempt 001/

Blender/EEVEE experiments/Anime style smoke tutorial/Renders/Small smoke 1/

**/.DS_Store

Blender/Stickmanimations/Simple jump/Renders/v1/

Substance Painter/Kodachrome Camera/Stencils/Knurled_Wheel_Stencil.psd
Substance Painter/Kodachrome Camera/Stencils/Lens_Front_Stencil.psd
Substance Painter/Kodachrome Camera/Stencils/Shutter_Speed_Stencil.psd
Substance Painter/Kodachrome Camera/Stencils/Top_Stencil.psd
