
Adobe Animate/.DS_Store

Adobe Animate/basic walk cycle/RECOVER_basic walk cycle.fla

Blender/Scifi Landscape Mountains/.DS_Store

Adobe Animate/basic walk cycle/RECOVER_basic walk cycle 2.fla

Blender/Run Cycle Attempt/Renders/run cycle attempt 001/

Blender/Run Cycle Attempt/.DS_Store

Illustrator/Pumpkin Carving cutouts/.DS_Store

Maya/projects/.DS_Store

Blender/Don't Surrender Music Video/Concepts/.DS_Store

Blender/EEVEE experiments/Anime style smoke tutorial/Renders/Small smoke 1/
